@import "~materialize-css/dist/css/materialize.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background: #f4f4f4;
}

nav ul a {
  color: #f76c6c;
}

.container {
  min-height: 100vh;
  text-align: center;
}

.card-action {
  display: flex;
  justify-content: space-evenly;
}

._auth input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

._auth input:focus {
  border-bottom: 1px solid #f76c6c !important;
  box-shadow: 0 1px 0 0 #f76c6c !important;
}

._wild {
  background-color: #f76c6c !important;
}

input:focus {
  border-bottom: 1px solid #f76c6c !important;
}

footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}


input:read-only {
  border-bottom: none !important;
}