/* Import materialize.css */
@import "~materialize-css/dist/css/materialize.min.css";
/* Materialize Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-color: #f76c6c;
  --main-bg-color: #f4f4f4;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* NAVBAR */
nav {
  background: var(--main-bg-color);
}

nav ul a {
  color: var(--main-color);
}

.container {
  min-height: 100vh;
  text-align: center;
}

/* INPUT FIELDS */
/* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }

/* AUTHENTIFICATION */
.card-action {
  display: flex;
  justify-content: space-evenly;
}

._auth input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

._auth input:focus {
  border-bottom: 1px solid #f76c6c !important;
  box-shadow: 0 1px 0 0 #f76c6c !important;
}

/* REACT TRANSITION */
.argonaut-enter {
  opacity: 0;
}
.argonaut-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.argonaut-exit {
  opacity: 1;
}
.argonaut-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/* NOUISLIDER */
.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

/* MAIN */
input[type=text]:not(.browser-default):read-only {
  border-bottom: none;
}

.button_disabler {
  cursor: not-allowed;
  pointer-events: none;
  filter: sepia();
}

footer {
  color: #fff;
  background: var(--main-color);
  padding: 0.5rem 0;
  text-align: center;
}
