/* Import materialize.css */
@import '~materialize-css/dist/css/materialize.min.css';
/* Materialize Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
  --main-color: #f76c6c;
  --main-bg-color: #f4f4f4;

  --snow-color: #f7f0f3;
  --palatinate-purple: #4f244b;
  --antique-fuchsia: #905c86;
  --turquoise-blue: #64f5e2;
  --dark-sky-blue: #9cb9c7;
  --orchid-crayola: #dea1d0;
  --dutch-white: #dcceaa;
  --beaver: #957e71;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--main-color);
}

/*** M TOAST ***/
.toast {
  background-color: var(--palatinate-purple);
}

/********** AUTHENTIFICATION **********/
.__auth-page h1 {
  margin-top: 10vh;
  font-size: 2.25rem;
  color: var(--main-bg-color);
}

.__auth-page > span {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: var(--turquoise-blue);
  position: absolute;
  margin-top: -3.25rem;
}

.__auth-page .card {
  background: center / cover no-repeat
    url('../img/pastel-pusheen-wallpaper.webp');
}

.__auth-page .card span {
  font-weight: 900;
  color: var(--main-color);
  text-shadow: 1px 1px 2px var(--turquoise-blue);
}

/*** INPUT FIELDS ***/
.__auth-page #email,
.__auth-page #password {
  background-color: var(--main-color);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.__auth-page .input-field .__icon-password {
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  right: 2.5rem;
  font-size: 1.5rem;
  color: var(--main-bg-color);
}

.__auth-page .input-field > label {
  color: var(--main-bg-color);
  left: 1.5rem;
}

.__auth-page input[type='password']:not(.browser-default),
.__auth-page input[type='email']:not(.browser-default) {
  border-bottom: 1px solid var(--antique-fuchsia);
}

.__auth-page
  input[type='password']:not(.browser-default):focus:not([readonly])
  + label,
.__auth-page
  input[type='email']:not(.browser-default):focus:not([readonly])
  + label {
  color: var(--turquoise-blue);
  text-shadow: 1px 1px 2px var(--palatinate-purple);
}

.__auth-page .material-icons {
  color: var(--main-color);
  text-shadow: 1px 1px 2px var(--palatinate-purple);
}

.__auth-page .input-field .prefix.active {
  color: var(--main-color);
  text-shadow: 1px 1px 2px var(--turquoise-blue);
}

/* LOGIN BUTTON */
.__auth-page .card-action button:first-of-type {
  background-color: var(--main-color);
}

/* REGISTER BUTTON */
.__auth-page .card-action button:last-of-type {
  color: var(--main-color);
  background-color: var(--turquoise-blue);
  text-shadow: 1px 1px 2px var(--dutch-white);
}

@media screen and (max-width: 320px) {
  .__auth-page .card-action button {
    font-size: 10px;
  }
}

/********** HOME PAGE **********/
/*** NAVBAR ***/
nav {
  background: var(--main-bg-color);
  user-select: none;
}

nav .nav-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

nav a,
nav ul a {
  color: var(--main-color);
}

nav .hide-on-med-and-down,
nav .sidenav-trigger {
  position: absolute;
	top: 0;
  right: 0;
}

nav .sidenav {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav .sidenav a {
  color: var(--main-bg-color);
}

nav .sidenav li:last-child {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/********** Wild School Logo **********/
.header__logo {
  display: flex;
  align-items: center;
  max-width: 200px;
}

.header-logo-link {
  width: 139px;
  height: 45px;
}

.animated-shape {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo-changer {
  fill: #212121;
  transition: fill 0.75s ease-in-out;
}

.animated-shape .line {
  stroke-width: 3.5;
  transition: stroke-dashoffset 0.75s ease-in-out,
    stroke-dasharray 0.75s ease-in-out;
}

.animated-shape .line.yellow-upper-mid-right {
  stroke-dasharray: 85 89;
  stroke-dashoffset: 89;
}

.animated-shape .line.purple-bottom {
  stroke-dasharray: 51 55;
  stroke-dashoffset: 55;
}

.animated-shape .line.purple-left {
  stroke-dasharray: 20 24;
  stroke-dashoffset: 24;
}

.animated-shape .line.yellow-upper-left,
.animated-shape .line.green-upper-left {
  stroke-dasharray: 50 54;
  stroke-dashoffset: 54;
}

.animated-shape .line.green-upper-right {
  stroke-dasharray: 50 54;
  stroke-dashoffset: 54;
}

.animated-shape .line.blue-upper-right {
  stroke-dasharray: 40 44;
  stroke-dashoffset: 44;
}

.animated-shape .line.green-upper-mid,
.animated-shape .line.yellow-upper-mid {
  stroke-dasharray: 85 89;
  stroke-dashoffset: 89;
}

.show-for-sr {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

/* :hover animation */
.header-logo-link:hover .logo-changer {
	fill: var(--main-color);
}

.header-logo-link:hover .animated-shape .line.yellow-upper-mid-right {
  stroke-dashoffset: 0;
}

.header-logo-link:hover .animated-shape .line.purple-bottom {
  stroke-dashoffset: 0;
}

.header-logo-link:hover .animated-shape .line.purple-left {
  stroke-dashoffset: 0;
}

.header-logo-link:hover .animated-shape .line.yellow-upper-left,
.header-logo-link:hover .animated-shape .line.green-upper-left {
  stroke-dashoffset: 0;
}

.header-logo-link:hover .animated-shape .line.green-upper-right {
  stroke-dashoffset: 0;
}

.header-logo-link:hover .animated-shape .line.blue-upper-right {
  stroke-dashoffset: 0;
}

.header-logo-link:hover .animated-shape .line.green-upper-mid,
.header-logo-link:hover .animated-shape .line.yellow-upper-mid {
  stroke-dashoffset: 0;
}

/********** MAIN **********/
main {
  background-color: white;
  min-height: 100vh;
}

/*** MAIN INPUT and BUTTONS ***/
input:not([type]):focus:not([readonly]):focus,
input[type='text']:not(.browser-default):focus:not([readonly]) {
  border-color: var(--antique-fuchsia);
  box-shadow: 0 1px 0 0 var(--turquoise-blue);
}

main .btn,
.btn-small {
  background-color: var(--main-color);
}

main .btn:focus,
.btn-small:focus {
  background-color: var(--antique-fuchsia);
  color: var(--dark-sky-blue);
}

main .btn:hover {
  background-color: var(--turquoise-blue);
  color: var(--antique-fuchsia);
}

main .btn-small:hover {
  background-color: var(--antique-fuchsia);
  color: var(--snow-color);
}

/*** ADD ARGONAUT MODAL ***/
.switch {
  float: right;
}
/*** NOUISLIDER ***/
.noUi-target {
  margin-top: 1rem;
}

.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

.noUi-connect {
  background: var(--main-color);
}

.modal-footer {
  margin-top: 1rem;
}

/*** ARGO FILTER ***/
.__argo-filter {
  user-select: none;
}

.__argo-filter input[type='search']:not(.browser-default):focus {
  border-bottom: 1px solid transparent;
}

.__argo-filter
  input[type='search']:not(.browser-default):focus:not([readonly])
  + label,
.__argo-filter
  .input-field
  input[type='search']:focus:not(.browser-default)
  ~ .material-icons {
  color: var(--main-color);
}

.__argo-filter .select-wrapper input.select-dropdown,
.__argo-filter .select-wrapper input.select-dropdown:focus {
  border-bottom: none;
}

.__argo-filter .dropdown-content li > span {
  color: var(--main-color);
}

/*** UNIQUE IMG MODAL ***/
.__unique-img-modal .modal-trigger {
  color: var(--main-color);
}

.__unique-img-modal .modal-content a {
  background-color: var(--main-color);
}

.__unique-img-modal .modal-content .__warning {
  color: var(--palatinate-purple);
  background-color: #ffee58;
  border-radius: 2px;
}

/*** DELETE ALL MODAL ***/
.__delele-all-modal {
  background-color: var(--main-bg-color);
  background-image: url('../img/schrodinger-cat.webp');
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: contain;
}

.__delele-all-modal .modal-content > div {
  background-color: rgba(109, 62, 116, 0.5);
  color: var(--main-bg-color);
  text-shadow: 1px 1px 2px black;
  border-radius: 2px;
  padding-top: 1px;
  padding-bottom: 10px;
}

.__delele-all-modal .modal-content > div i {
  vertical-align: text-top;
}

.__delele-all-modal .modal-content h4 {
  color: var(--turquoise-blue);
  text-shadow: 0 1px 0 var(--snow-color), 0 2px 0 var(--dutch-white),
    0 3px 0 var(--beaver), 0 4px 0 var(--antique-fuchsia),
    0 5px 0 var(--orchid-crayola), 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.__delele-all-modal .modal-content p {
  padding: 0.25rem;
}

.__delele-all-modal .modal-footer {
  background-color: transparent;
}

.__delele-all-modal .modal-footer span {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: var(--turquoise-blue);
  text-shadow: 1px 1px 5px var(--palatinate-purple);
  padding-left: 1rem;
  position: absolute;
  left: 10px;
  bottom: 30px;
}

.__delele-all-modal .modal-footer button {
  border: 1px solid transparent;
  width: 120px;
  height: 40px;
}

.__delele-all-modal .modal-footer button:hover {
  border: 1px solid var(--antique-fuchsia);
}

.__delele-all-modal .modal-footer button:hover:first-of-type {
  color: white;
  background-color: var(--main-color);
}

/*** ARGO LIST ***/
.__empty-list {
  background-image: url('../img/cat-food.webp');
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
}

.__argo-table input[type='text']:not(.browser-default):read-only {
  border-bottom: none;
}

.__argo-table .__empty {
  user-select: none;
}

.__argo-table .__empty button {
  visibility: hidden;
}

.__argo-table .__button-disabler {
  cursor: not-allowed;
  pointer-events: none;
  filter: sepia();
}

.__argo-table .btn-floating {
  background-color: var(--main-color);
}

.__argo-table .btn-floating:focus {
  background-color: var(--antique-fuchsia);
}

.__argo-table .btn-floating:hover {
  background-color: var(--turquoise-blue);
}

.__argo-table .btn-floating:hover i {
  color: var(--main-color);
}

.__argo-table .__delele-all-btn:hover {
  background-color: var(--orchid-crayola);
}

.__argo-table .__delele-all-btn:hover i {
  color: var(--palatinate-purple);
}

/* edit button */
.__argo-table .__edit-btn i {
  color: var(--orchid-crayola);
}

.__argo-table .__edit-btn:hover {
  background-color: #ffeb3b !important;
}

.__argo-table .__edit-btn:hover i {
  color: var(--palatinate-purple);
}

.__argo-table .__edit-confirm-btn:hover {
  background-color: #4caf50 !important;
  color: var(--main-bg-color);
}

/* delete button */
.__argo-table .__delete-btn {
  background-color: var(--main-color);
}

.__argo-table .__delete-btn:hover {
  background-color: #ef5350;
}

.__argo-table .__delete-btn:hover i {
  color: var(--snow-color);
}

.__argo-table .__delete-confirm-btn:hover {
  background-color: #f44336 !important;
  color: var(--main-bg-color);
}

/*** PAGINATION ***/
.pagination {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  user-select: none;
}

.pagination button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  width: 30px;
  height: 30px;
}

.pagination .active button {
  color: white;
}

.pagination .disabled button {
  color: var(--dark-sky-blue);
  cursor: not-allowed;
  pointer-events: none;
}

/*** REACT TRANSITION ***/
/* .argonaut-enter {
  opacity: 0;
}
.argonaut-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.argonaut-exit {
  opacity: 1;
}
.argonaut-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
} */

/*** LOADER ***/
.preloader-wrapper {
  margin-top: 25vh;
}

/*** FOOTER ***/
footer {
  margin: 2rem auto;
  color: #fff;
  max-width: 1280px;
  width: 90%;
  user-select: none;
}

footer .__footer-link {
  height: 40px;
  margin: 1rem;
}

footer > img {
  height: 80px;
}

.__bg-color-filter {
  filter: invert(90%) sepia(57%) saturate(0%) hue-rotate(15deg) brightness(103%)
    contrast(91%);
}

footer .__footer-link:hover {
  filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  transform: scale(1.2);
}
